<section class="section-6">
    <div class="social">

        <a target="_blank" href="https://www.facebook.com/titanium.moldova/?fref=ts" class="facebook">
            <div></div>
        </a>
        <a target="_blank" href="https://www.instagram.com/titanium.codes" class="instagram">
            <div></div>
        </a>

        <a target="_blank" href="https://github.com/titanium-codes" class="github">
            <div></div>
        </a>
    </div>

</section>
<div class="back-to-top">
    <a class="top" href="#0" title="Back to top ">
        <!--<img src="./build/images/up_arrow.png" alt=""/>-->
    </a>
</div>